// = <++> ======================================================================
//
// <++>
//
// Usage:
// <++>
//
// by Carlos Vigil Vasquez
// https://github.com/cvigilv/
// =============================================================================

#include <iostream>

int main()
{
    <++>
}
